## 自定义
/TodoTestApi/bin/
/TodoTestApi/bin/*
/TodoTestApi/obj/
/TodoTestApi/obj/*
/.idea/
/.idea/*
/.git/
/.git/*
/.vs/
/.vs/*
/.vscode/
/.vscode/*
TodoTestApi.sln.DotSettings.user

## 默认
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/